figure {
    text-align: center;
    font-style: italic;
    padding: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

label {
    padding: 0 10px 0 10px;
}

.step {
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(200, 200, 200);
    padding: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
}

:host(.nested) .step {
    border-style: dashed;
    border-radius: 10px;
    margin: 10px;
}

.step:has(input[type='checkbox']:checked) {
    background-color: lightgreen;
}

.step input[type='checkbox']:checked + label {
    text-decoration: line-through;
    filter: grayscale(100%);
    opacity: 0.4;
}

.step > figure {
    grid-column: 1 / -1;
}